.table-user-kleint{
     width: 60px;
     position: absolute;
     margin: 50px;
 }
.table-user-konsult{
    width: 60px;
    position: absolute;
    margin: 50px 202px;
}

.table-user-helper{
     width: 60px;
     position: absolute;
     margin: 207px 50px;
 }

.table-user-other{
    width: 60px;
    position: absolute;
    margin: 207px 202px;
}
.right-sitebar{
    /*background-image: url("../img/bg.png");*/
    padding-bottom: 40px;
}

.right-sitebar h3 {
    color: #FFF;
    font-size: 18px;
    padding: 0px 10px;
    line-height: 40px;
    height: 40px;
    margin: 0px;
    background: #C62828 none repeat scroll 0% 0%;
    text-align: center;
    font-family: "PT Sans Narrow",sans-serif;
}
.left-sitebar{
	background-image: url("../img/bg.png");
	padding-bottom: 40px; 
}
ul.sidebar-menu , ul.sidebar-menu li ul.sub{
    margin: -2px 0 0;
    padding: 0;
    list-style: none;
}

ul.sidebar-menu {
    margin-top: 15px;
}
.left-sitebar h5{
	color: #797979;
	font-weight: 700;
}
.left-sitebar > ul > li > ul.sub {
    display: none;
}

.left-sitebar > ul > li.active > ul.sub, #sidebar > ul > li > ul.sub > li > a {
    display: block;
}

ul.sidebar-menu li ul.sub li{
    background: #424a5d;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}

ul.sidebar-menu li ul.sub li:last-child{
    border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
}

ul.sidebar-menu li ul.sub li a {
    font-size: 12px;
    padding: 6px 0;
    line-height: 35px;
    height: 35px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    color: #aeb2b7;
}

ul.sidebar-menu li ul.sub li a:hover {
	color: white;
	background: transparent;
}

ul.sidebar-menu li ul.sub li.active a {
    color: #f44336;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    display: block;
}

ul.sidebar-menu li{
    /*line-height: 20px !important;*/
    margin-bottom: 5px;
    margin-left:10px;
    margin-right:10px;
}

ul.sidebar-menu li.sub-menu{
    line-height: 15px;
}

ul.sidebar-menu li a span{
    display: inline-block;
}

ul.sidebar-menu li a{
    color: #797979;
    font-weight: 600;
    font-family: 'PT Sans Narrow', sans-serif;
    text-decoration: none;
    display: block;
    padding: 15px 0 15px 10px;
    font-size: 15px;
    outline: none;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

ul.sidebar-menu li a.active, ul.sidebar-menu li a:hover, ul.sidebar-menu li a:focus {
    background: #d32f2f;
    color: #fff;
    display: block;

    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}


ul.sidebar-menu li a i {
    font-size: 15px;
    padding-right: 6px;
}

ul.sidebar-menu li a:hover i, ul.sidebar-menu li a:focus i {
    color: #fff;
}

ul.sidebar-menu li a.active i {
    color: #fff;
}
.desc {
    border-bottom: 1px solid #EAEAEA;
    display: inline-block;
    width: 100%;
}
.thumb {
    width: 30px;
    margin: 24px 17px 0px 30px;
    display: block;
    float: left;
}
.details {
    float: left;
    width: 170px;
}
.desc p > muted {
    font-size: 9px;
    text-transform: uppercase;
    font-style: italic;
    color: #666;
}
.desc a {
    color: #B71C1C;
    text-decoration: none;
    font-weight: 600;
}
.desc a:hover {
    color: #A01818 !important;
    font-weight: normal;
}
.meeting-header{
    background-color:#fafafa;
    height: 53px;
    padding: 10px;
    background: #f9f6fd; /* Old browsers */
    background: -moz-linear-gradient(top,  #f9f6fd 0%, #f1f2ed 3%, #eeeced 45%, #e3e3e3 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9f6fd), color-stop(3%,#f1f2ed), color-stop(45%,#eeeced), color-stop(100%,#e3e3e3)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #f9f6fd 0%,#f1f2ed 3%,#eeeced 45%,#e3e3e3 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #f9f6fd 0%,#f1f2ed 3%,#eeeced 45%,#e3e3e3 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #f9f6fd 0%,#f1f2ed 3%,#eeeced 45%,#e3e3e3 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #f9f6fd 0%,#f1f2ed 3%,#eeeced 45%,#e3e3e3 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f6fd', endColorstr='#e3e3e3',GradientType=0 ); /* IE6-9 */
    border-bottom:2px solid #b4b4b4;
    margin-top: -53px;

}
.clock{
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: bold;
    color: #fff;
    margin-top: 12px;
    margin-left: 10px;
}

.meeting-header-nav {
     display:inline-block;
     float:left;
     background: #fdfdfd none repeat scroll 0% 0%;
     -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
     border-radius: 4px;
     height: 30px;
     padding: 2px 8px;
     cursor:pointer;
     color:#b5b5b5;
     border-bottom:2px solid #cbcbcb;
    text-decoration: none;
 }
.meeting-header-nav a:hover{
 text-decoration: none;
}
.meeting-header-nav:hover {
    background:#575757;
    color:#e7e7e7;
    text-decoration: none;
}
.meeting-header-nav.active {
    color:#707070;
}

.meeting-header-nav i.fa {
    font-size: 23px;
}

.breadcrumb-bg{
    margin-left: 10px;
    display:inline-block;
    float:left;
    background: #fdfdfd none repeat scroll 0% 0%;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    height: 30px;
    color:#b5b5b5;
    border-bottom:2px solid #cbcbcb;
    padding: 3px 18px 0px 11px;
}
.history a{
    color: #FFF;
    margin: -25px 0px 0px 98px;
    height: 100px;
    display: block;
    position: absolute;
    font-size: 22px;
    font-family: "PT Sans Narrow",sans-serif;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 1);

}

.history {
 margin-top: 20px;
}

.main-content{
    min-height: 662px;
    -moz-box-shadow: 0 4px 12px rgba(0,0,0,.5);-webkit-box-shadow: 0 4px 12px rgba(0,0,0,.5);box-shadow: 0 4px 12px rgba(0,0,0,.5);
}
.article-content h2{
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: bold;
}
.article-content a{
     color: #000000;
 }
.article-content a:hover{
    text-decoration: none;
    color: #b71c1c;
}

.article-content p{
    font-family: "Open Sans",Verdana,Tahoma,sans-serif;
    color: #000;
    font-size: 1.1em;
}

.meetings-info{
 background-color: #fbfbfb;
padding: 7px 0px 1px 13px;
color: #B5B5B5;
    border-bottom: 1px solid #DDD;
}