.local-blue{
    border-left:5px solid blue;
    border-radius: 3px;
}
.local-violet{
    border-left:5px solid violet;
    border-radius: 3px;
}
.local-green{
    border-left:5px solid green;
    border-radius: 3px;
}
.main-ol{
    font-size: 18px;
    font-family: "PT Sans Narrow", sans-serif;
    color: #565656;
}
