<div class="col-md-12" style="height: 250px;margin-top: 25px;">
    <div class="row">
        <div class="col-md-4" style="border: 1px solid blue;height: 250px;">
            Тут має бути картинка
        </div>
        <div class="col-md-8" style="border: 1px solid #ffff00; height: 250px;" >
            <div>
                <h4> Заголовок !!!</h4>
            </div>
            <div>
                <p>
                    <i> Сама Стаття !!! </i>
                </p>
            </div>
        </div>
    </div>
</div>