<label>
    П.І.Б Клієнта
    <input type="text" value="[[meeting.credentials]]"/>
</label>

<label>
    Дирекція
    <select ng-model="meeting.assistant.id">
        <option ng-repeat="assistant in meetingsInfo.assistants" value="[[ assistant.id ]]"></option>
    </select>
    <input type="text" value="[[meeting.assistant.id]]"/>
</label>

<label>
    П.І.Б Клієнта
    <input type="text" value="[[meeting.credentials]]"/>
</label>

<label>
    П.І.Б Клієнта
    <input type="text" value="[[meeting.credentials]]"/>
</label>

<label>
    П.І.Б Клієнта
    <input type="text" value="[[meeting.credentials]]"/>
</label>

<label>
    П.І.Б Клієнта
    <input type="text" value="[[meeting.credentials]]"/>
</label>