<div ng-init="getMeeting(meeting_id); getPosts();"></div>

<div class="row">
    <div class="meeting-header">
        <a class="meeting-header-nav" ng-href="/consultant/meetings"><i class="fa fa-angle-left"></i></a>
        <a class="meeting-header-nav" ng-href="/consultant/meeting/edit/[[ meeting.id ]]" style="margin-left: 8px; padding: 4px 8px;">Редагувати</a>
        <div class="breadcrumb-bg">
            <i class="fa fa-globe"></i> |
            <a ng-href="/consultant/meetings"> Зустрічі</a>
            <i class="fa fa-angle-right" style="color: #337AB7;"></i>
            [[ meeting.client ]]
        </div>
    </div>
</div>

<div class="page-header" style="margin: 15px 0 20px">
    <div class="row">
        <div class="btn text-right" style="margin: 10px 5px;">
            <div class="label" style="padding: 10px; font-size: 14px; background-color: #C62828;">
                [[ meeting.status.label ]]
                <div class="badge" style="background-color: #f5f5f5; color: #C62828;">
                    [[ meeting.date | date : 'dd-MM' ]]
                </div>
            </div>
        </div>

        <div class="btn text-right" style="margin: 10px 5px;">
            <div class="label" style="padding: 10px; font-size: 14px; background-color: #C62828;">
                Вид зайнятості
                <div class="badge" style="background-color: #f5f5f5; color: #C62828;">
                    [[ meeting.employmentType.label ]]
                </div>
            </div>
        </div>

        <div class="btn text-right" style="margin: 10px 5px;" ng-if="(meeting.age) || (meeting.clientBirthday.date)">
            <div class="label" style="padding: 10px; font-size: 14px; background-color: #C62828;">
                <span ng-if="meeting.age">
                    Вік [[ meeting.age ]]р.
                </span>
                <span class="badge" ng-if="meeting.clientBirthday.date" style="background-color: #f5f5f5; color: #C62828;">
                    [[ meeting.clientBirthday.date | date : 'dd-MM' ]]
                </span>
            </div>
        </div>

        <div class="btn text-right" style="margin: 10px 5px;" ng-if="(meeting.price) && (meeting.years) && (meeting.payDate)">
            <div class="label" style="padding: 10px; font-size: 14px; background-color: #C62828;">
                Контракт
                <span class="badge" style="background-color: #f5f5f5; color: #C62828;">
                    [[ meeting.price + 'грн на ' + meeting.years + 'р, від ' ]][[ meeting.payDate | date : 'dd-MM-yyyy' ]]
                </span>
            </div>
        </div>

    </div>



</div>

<div class="row">
    <!--
    <div class="col-lg-offset-4 col-md-offset-4 col-sm-offset-4 hidden-xs">
        <div class="table-user-kleint">
            <a href="#" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
                <img class="img-circle img-responsive"  src="bundles/sl24/img/user.png" height="80px">
            </a>
        </div>

        <div class="table-user-konsult">
            <a href="#">
                <img class="img-circle img-responsive" src="bundles/sl24/img/friends/fr-01.jpg" height="70px">
            </a>
        </div>

        <div class="table-user-helper">
            <a href="#">
                <img class="img-circle img-responsive" src="bundles/sl24/img/friends/fr-01.jpg" height="70px">
            </a>
        </div>

        <div class="table-user-other">
            <a href="#">
                <img class="img-circle img-responsive" src="bundles/sl24/img/friends/fr-01.jpg" height="70px">
            </a>
        </div>
        <img src="/bundles/sl24/img/stol.png">
    </div>

    -->

    <div class="col-sm-3">
        <h5 align="center">[[ meeting.client ]]</h5>
        <h5 align="center" ng-if="meeting.clientPartner">[[ meeting.clientPartner ]]</h5>
    </div>
    <div class="col-sm-6">
        <img class="img-responsive center-block" src="/bundles/sl24/img/stol.png">
    </div>
    <div class="col-sm-3">
        <h5 align="center">[[ meeting.consultant.surname + ' ' + meeting.consultant.name ]]</h5>
        <h5 align="center" ng-if="meeting.clientPartner">[[ meeting.assistant.surname + ' ' + meeting.assistant.name ]]</h5>
    </div>

    <div class="visible-xs col-xs-12">
        <div class="row">
            <div class="col-xs-12">
                <label>Клієнт:</label>
            </div>
            <div class="col-xs-12">
                [[ meeting.client ]]
            </div>
        </div>
        <div class="row" ng-if="meeting.clientPartner">
            <div class="col-xs-12">
                <label>Партнер клієнта:</label>
            </div>
            <div class="col-xs-12">
                [[ meeting.clientPartner ]]
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <label>Консультант:</label>
            </div>
            <div class="col-xs-12">
                [[ meeting.consultant.surname + ' ' + meeting.consultant.name ]]
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <label>Структурний:</label>
            </div>
            <div class="col-xs-12">
                [[ meeting.assistant.surname + ' ' + meeting.assistant.name ]]
            </div>
        </div>
    </div>
</div>

<br><br>

<div class="row">
</div>


<div class="row">
    <div class="col-md-12">
        <ul class="list-group">
            <li class="list-group-item" style="background-color: #C62828; color: #f5f5f5;">
                <h4 class="text-center">Коментарі</h4>
            </li>

            <li class="list-group-item" ng-repeat="post in posts">
                <div class="row">
                    <div class="col-xs-3 col-md-1">
                        <img class="img-circle img-responsive" src="bundles/sl24/img/ui-sam.jpg" alt="img"/>
                    </div>
                    <div class="col-xs-9 col-md-11">
                        <p class="text-muted pull-right hidden-xs hidden-sm">
                            <i>[[ post.posted | date ]]</i>
                        </p>
                        <h4>[[ post.user.surname + ' ' + post.user.name ]]</h4>
                        <p>[[ post.message ]]</p>
                    </div>
                </div>
            </li>

            <!--
            <li class="list-group-item">
                <span class="badge" >[[ meeting.credentials ]]</span>
                <strong> П.І.Б Клієнта:</strong>
            </li>
            <li class="list-group-item">
                <span class="badge">[[ meeting.status.label ]]</span>
                <strong>Статус зустрічі:</strong>
            </li>
            <li class="list-group-item">
                <span class="badge">[[ meeting.employmentType.name ]]</span>
                <strong>Вид зайнятості клієнта:</strong>
            </li>
            <li class="list-group-item">
                <span class="badge">[[ meeting.age ]]</span>
                <strong>Вік клієнта:</strong>
            </li>
            <li class="list-group-item">
                <h5 class="text-center"> Додаткова інформація</h5>
            </li>
            <li class="list-group-item">
                <span class="badge">[[ meeting.clientBirthday.date ]]</span>
                <strong>Дата народження клієнта:</strong>
            </li>
            <li class="list-group-item">
                <span class="badge">[[ meeting.date ]]</span>
                <strong>Дата зустрічі:</strong>
            </li>

            <li class="list-group-item">
                <h5 class="text-center"> Контракт</h5>
            </li>
            <li class="list-group-item">
                <span class="badge">[[ meeting.price ]]</span>
                <strong>Річна премія:</strong>
            </li>

            <li class="list-group-item">
                <span class="badge">[[ meeting.payDate ]]</span>
                <strong>Дата оплати:</strong>
            </li>
            <li class="list-group-item">
                <span class="badge">[[ meeting.years ]]</span>
                <strong>Срок контракту:</strong>
            </li>
            <li class="list-group-item">
                <span class="badge">[[ meeting.progress ]]</span>
                <strong>Прогрес зустрічі:</strong>
            </li>-->

            <li class="list-group-item">
                <form class="input-group input-group-lg">
                    <textarea id="textarea-post" name="message" class="form-control" rows="3" style="resize: vertical;font-size: 11px; height: 50px;" ng-keypress="enterButton($event)" ng-model="post.message"></textarea>
                    <span class="input-group-btn">
                        <button class="btn" name="subscribe" type="button" style="height: 50px; font-size: 12px; background-color: #C62828; color: #f5f5f5;" ng-click="sendPost(post);">
                            <span>Відправити</span>
                        </button>
                    </span>
                </form>
            </li>
        </ul>
    </div>
</div>
