<div ng-if="(tasks == null) || (tasks.length == 0)" class="center-block vertical-center">
    <h3 class="text-info text-center">Тут будуть відображатися завдання</h3>
</div>

<table ng-if="(tasks) && (tasks.length > 0)" class="table">
    <thead>
    <tr>
        <th class="col-xs-5">Ім’я</th>
        <th class="hidden-xs col-xs-2">Статус</th>
        <th class="col-xs-2">Дата</th>
        <th class="col-xs-2">Власник</th>
        <th class="col-xs-1">Опції</th>
    </tr>
    </thead>

    <tbody ng-repeat="task in tasks">
    <tr>

        <td class="col-xs-5">
            <a ng-href="/consultant/task/[[ task.id ]]">[[ task.name ]]</a>
        </td>

        <td class="hidden-xs col-xs-2">
            <div class="label label-default" style="background-color: [[ task.status.color ]];">
                [[ task.status.label ]]
            </div>
        </td>

        <td class="col-xs-2">[[ task.date ]]</td>

        <td class="col-xs-2">[[ task.owner.username ]]</td>

        <td class="col-xs-1">
            <div class="btn-group">
                <button class="btn btn-default dropdown-toggle" aria-expanded="false" data-toggle="dropdown" type="button">
                    <i class="fa fa-ellipsis-v"></i>
                </button>
                <ul class="dropdown-menu" role="menu" style="left:-120px !important;">
                    <li>
                        <a data-toggle="modal" data-target="#delete_task" ng-click="addDeleteTaskId(task.id)" style="cursor: pointer"><span class="text-danger"><i class="fa fa-trash"></i> Видалити завдання </span></a>
                    </li>
                </ul>
            </div>
        </td>

    </tr>
    </tbody>
</table>
