
<div class="row">
    <div class="meeting-header">
        <a class="meeting-header-nav" href="register" style="padding: 4px 8px;">Додати консультанта</a>
    </div>
</div>


<h1 class="page-header" style="margin: 15px 0px 20px">Команда</h1>

<div class="col-md-12">
    <div class="row">
<table class="table team-table table-striped"  ng-init="GetTeam()" >
    <thead style="background-color: #fbfbfb; color: #262626;">
    <tr>
        <th  class="col-md-3 table-bordered"> Ім'я: </th>
        <th class="col-md-1 table-bordered">  Ціль </th>
        <th class="col-md-1 table-bordered"> Особисті: </th>
        <th class="col-md-1 table-bordered"> Командні: </th>
        <th class="col-md-1 table-bordered"> Зустрічі: </th>
        <th style="text-align: center;" class="col-md-1 table-bordered"> Ручка </th>
        <th style="text-align: center;" class="col-md-1 table-bordered"> Щоденник </th>
        <th style="text-align: center;" class="col-md-1 table-bordered"> Запонки </th>
        <th style="text-align: center;" class="col-md-1 table-bordered"> Годинник </th>
    </tr>
    </thead>
    <tbody>
    <tr >
        <td style="padding-left:[[Team.marginrigth]]px ;">
            <i ng-if="Team.childs != 0 && Team.visible == false" class="fa fa-plus plus-team" ng-click="showChildForTeam(Team,Team.lvl,Team.id)"></i>
            <i class="fa fa-minus plus-team" ng-if="Team.visible == true" ng-click="removeChildForTeam(Team,Team.lvl,Team.id)"></i>
           [[Team.surname]] [[ Team.name ]] ([[Team.slNumber]])
        </td>
        <td> [[Team.lvl]]</td>
        <td>[[Team.score]]</td>
        <td>[[Team.teamScore]]</td>
        <td>[[Team.meetingsCount]]</td>
        <td style="text-align: center;">
            <i ng-if="Team.parker == 1 " style="color: #28a025;" class="fa fa-check"></i>
            <i ng-if="Team.parker == 0 " style="color: #AA1818;" class="fa fa-times"></i>
        </td>
        <td style="text-align: center;">
            <i ng-if="Team.diary == 1 " style="color: #28a025;" class="fa fa-check"></i>
            <i ng-if="Team.diary == 0 " style="color: #AA1818;" class="fa fa-times"></i>
        </td>
        <td style="text-align: center;">
            <i ng-if="Team.cufflinks == 1 " style="color: #28a025;" class="fa fa-check"></i>
            <i ng-if="Team.cufflinks == 0 " style="color: #AA1818;" class="fa fa-times"></i>
        </td>
        <td style="text-align: center;">
            <i ng-if="Team.watches == 1 " style="color: #28a025;" class="fa fa-check"></i>
            <i ng-if="Team.watches == 0 " style="color: #AA1818;" class="fa fa-times"></i>
        </td>
    </tr>
    <tr  ng-repeat="child in childs" ng-if="child.visibleelem == true" >
        <td style="padding-left:[[child.marginrigth]]px ;">
            <i ng-if="child.childs != 0  && child.visible == false" class="fa fa-plus plus-team" ng-click="showChildForTeam(child,child.lvl,child.id)"></i>
            <i class="fa fa-minus plus-team" ng-if="child.visible == true" ng-click="removeChildForTeam(child,child.lvl,child.id)"></i>
            [[child.surname]] [[ child.name ]]([[child.slNumber]])
        </td>
        <td> [[child.lvl]]</td>
        <td>[[child.score]]</td>
        <td>[[child.teamScore]]</td>
        <td>[[child.meetingsCount]]</td>
        <td style="text-align: center;">
            <i ng-if="child.parker == 1 " style="color: #28a025;" class="fa fa-check"></i>
            <i ng-if="child.parker == 0 " style="color: #AA1818;" class="fa fa-times"></i>
        </td>
        <td style="text-align: center;">
            <i ng-if="child.diary == 1 " style="color: #28a025;" class="fa fa-check"></i>
            <i ng-if="child.diary == 0 " style="color: #AA1818;" class="fa fa-times"></i>
        </td>
        <td style="text-align: center;">
            <i ng-if="child.cufflinks == 1 " style="color: #28a025;" class="fa fa-check"></i>
            <i ng-if="child.cufflinks == 0 " style="color: #AA1818;" class="fa fa-times"></i>
        </td>
        <td style="text-align: center;">
            <i ng-if="child.watches == 1 " style="color: #28a025;" class="fa fa-check"></i>
            <i ng-if="child.watches == 0 " style="color: #AA1818;" class="fa fa-times"></i>
        </td>
    </tr>

    </tbody>
</table>
    </div>
</div>