<table class="table"  ng-init="GetTeam()" >
    <thead>
    <tr>
        <th  class="col-md-3"> Ім'я: </th>
        <th class="col-md-1">  Ціль на місяць: </th>
        <th class="col-md-1"> Особисті одиниці: </th>
        <th class="col-md-1"> Командні одиниці: </th>
        <th class="col-md-1"> Зустрічі: </th>
        <th style="text-align: center;" class="col-md-1"> Ручка </th>
        <th style="text-align: center;" class="col-md-1"> Щоденник </th>
        <th style="text-align: center;" class="col-md-1"> Запонки </th>
        <th style="text-align: center;" class="col-md-1"> Годинник </th>
    </tr>
    </thead>
    <tbody>
    <tr >
        <td><i ng-if="Team.childs != 0 " class="fa fa-plus plus-team" ng-click="showChildForTeam(Team,Team.lvl)"></i> [[ Team.name ]]</td>
        <td> [[Team.lvl]]</td>
        <td>міліон</td>
        <td>Вообще нич</td>
        <td>та фіг його знає</td>
        <td style="text-align: center;"><i style="color: greenyellow;" class="fa fa-check"></i></td>
        <td style="text-align: center;"><i style="color: greenyellow;" class="fa fa-check"></i></td>
        <td style="text-align: center;"><i style="color: greenyellow;" class="fa fa-check"></i></td>
        <td style="text-align: center;"><i style="color: red;" class="fa fa-times"></i></td>
    </tr>
    <tr ng-repeat="child in childs" ng-if="child.visibleelem == true">
        <td><i ng-if="child.childs != 0 " class="fa fa-plus plus-team" ng-click="showChildForTeam(child,child.lvl)"></i> [[ child.name ]]</td>
        <td> [[child.lvl]]</td>
        <td>міліон</td>
        <td>Вообще нич</td>
        <td>та фіг його знає</td>
        <td style="text-align: center;"><i style="color: greenyellow;" class="fa fa-check"></i></td>
        <td style="text-align: center;"><i style="color: greenyellow;" class="fa fa-check"></i></td>
        <td style="text-align: center;"><i style="color: greenyellow;" class="fa fa-check"></i></td>
        <td style="text-align: center;"><i style="color: red;" class="fa fa-times"></i></td>
    </tr>

    </tbody>
</table>