{% extends '@Sl24/layout.html.twig' %}

{% block body %}
    <nav class="navbar navbar-default" style="margin-bottom:0;">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Переключити навігацію</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">SL24</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="{{ path('sl24_login') }}">Ввійти</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="wrapper">
        <div class="container">
            <div class="row">
                <div class="col-xs-10 col-xs-offset-1">
                    <div class="page-header">
                        <h2>Вхід</h2>
                    </div>
                    <div class="row">
                        <div class="col-xs-10 col-xs-offset-1">
                            <form class="form-horizontal" action="{{ path('sl24_login_check') }}" method="post">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Введіть логін/email" name="_username" value="{{ last_username }}">
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control" placeholder="Введіть пароль" name="_password">
                                </div>
                                {% if error %}
                                    <div class="alert alert-danger">
                                        {{ error.message }}
                                    </div>
                                {% endif %}

                                <div class="form-footer">
                                    <input type="hidden" name="_target_path" value="/consultant" />
                                    <button type="submit" class="btn btn-info pull-right btn-submit">Логін</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}