{% extends '@Sl24/layout.html.twig' %}

{% block body %}
    <nav class="navbar navbar-default" style="margin-bottom:0;">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Переключити навігацію</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">SL24</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="{{ path('sl24_login') }}">Ввійти</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-offset-3">
                    <div class="embed-responsive embed-responsive-16by9" style="margin-top: 50px;">
                        <iframe class="embed-responsive-item"  width="600" height="400" src="https://www.youtube.com/embed/5Q868tPz0zs" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br><br>
{% endblock %}